@charset "utf-8";
/* CSS Document */

*		{	box-sizing: border-box;}

#wrapper        {   width: 60%;
                    margin: auto;
}

#datepicker     {   font-size: 10px;
                    float: right;
                    margin-right: 15%;
}
#color_wheel    {   margin-top: 3%;
                    margin-left: 10%;
                    margin-bottom: 2%;
}
#swatch         {   height: 180px;
                    width: 140px;
                    background-color: #30a321;
                    position: relative;
                    margin-top: -100%;
                    margin-right: 20%;
}
#results        {   font-size: .7em;
                    text-align: center;
}
#dialog         {   text-align: center;}

.slider         {   width: 70%;
                    opacity: 1;
                    display: inline-block;
}

.slider:hover   {   opacity: 0.8;
}
.skin_color     {   width: 15em;
                    margin-top: 3px;
}
.radio_buttons  {   display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    gap: 10px;
}
.spinner_controls  {    display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        gap: 8px;
                        margin-left: -25px;
}
.align_label    {   text-align: right;
                    display: inline-block;
                    width: 8em;
}
.date_label    {    text-align: right;
                    display: inline-block;
                    width: 8em;
                    margin-top: 60px;
                    margin-bottom: 60px;
                    margin-left: 30px;
}
.mask           {   height: 200px;
                    z-index: 2;
                    position: relative;
                    margin-top: -200px;
}
.alien_skin     {   float: right;
                    margin-right: 10%;
}
.spinner        {   width: 50px;}

fieldset         {  margin-bottom: 10px;
                    border-radius: 50px;             
}
legend          {   margin-left: 40px;}

h3              {   margin-bottom: 3px;
                    margin-top: 3px;
}
h1              {   text-align: center;}
p               {   margin-top: 0;
                    text-align: center;
}
li              {   list-style: none;
                    margin-top: 5px;

                    display: inline;
}
ul              {   margin-left: -30px;}
span            {   font-weight: bold;
}
button          {   clear: both;
                    margin-left: 40%;
                    margin-top: 20px;
}
form            {   background-color: #906bff;
                    padding: 20px;
                    border: 20px solid #c0c0c0;
                    border-radius: 50px;
}
body            {   background-image: url(images/sky_9.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
}
header          {   width: 80%;
                    height: 200px;
                    margin: auto;
                    background-image: url(images/headline_2.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                }
/*#opener         {   clear: both;      See your comments in the other files
                    margin-left: 40%;
                    margin-top: 20px;
}*/
